<!DOCTYPE html>
<html>
<head>
  <title>OpenTreeMap - Software para el mapeo de árboles</title>
  <style>
    h1 {
      text-align: center;
    }

    p {
      margin: 20px;
      font-size: 18px;
    }
  </style>
</head>
<body>
  <h1>OpenTreeMap - Software para el mapeo de árboles</h1>
  
  <p>
    OpenTreeMap es una plataforma de software diseñada para mapear y gestionar árboles de forma colaborativa.
    Permite a los usuarios registrar información detallada sobre los árboles, como ubicación geográfica, especie, edad, tamaño, estado de salud, y más.
    Con OpenTreeMap, es posible visualizar y analizar datos relacionados con los árboles de una manera intuitiva y accesible.
  </p>

  <p>
    Esta herramienta es ampliamente utilizada por comunidades, organizaciones y administraciones para promover la conciencia ambiental,
    monitorear la salud de los árboles urbanos, planificar proyectos de reforestación y brindar información valiosa sobre los beneficios
    ecológicos y socioeconómicos que los árboles proporcionan a nuestras ciudades.
  </p>

</body>
</html>





