<!DOCTYPE html>
<html>
<head>
  <title>Mapa</title>
  <!-- Incluir los estilos de Leaflet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
  <style>
    /* Estilos para el contenedor del mapa */
    #map-container {
      height: 500px;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Mapa</h1>
  <div id="map-container"></div>

  <!-- Incluir la biblioteca de Leaflet -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    // Coordenadas del centro del mapa
    var center = [9.315274131002017, -75.38849076512143];

    // Crear el mapa
    var map = L.map('map-container').setView(center, 20);

    // Crear el mapa base de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18
    }).addTo(map);

    // Array de objetos con la información de los árboles
    var arboles = [
      {
        nombre: "Palmera",
        caracteristicas: "Características del Árbol 1",
        ubicacion: [9.315274131002017, -75.38849076512143]
      },
      {
        nombre: "Palmera",
        caracteristicas: "Características del Árbol 2",
        ubicacion: [9.314972, -75.389270]
      },
      {
        nombre: "Arbol de mango",
        caracteristicas: "Características del Árbol 3",
        ubicacion: [9.314711, -75.387788]
      }
    ];

    // Agregar los marcadores de los árboles al mapa
    arboles.forEach(function(arbol) {
      var marker = L.marker(arbol.ubicacion).addTo(map);
      marker.bindPopup("<b>" + arbol.nombre + "</b><br>" + arbol.caracteristicas);
    });


  </script>
  <script>
    
  </script>
</body>
</html>





