<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">Registro de árboles</h1>
      </div>
      <div class="card-body">
        <form action="/trees" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="caracteristicas" placeholder="Características"></textarea>
          </div>
          <div class="form-group">
            <input type="number" step="0.000001" class="form-control" name="latitud" placeholder="Latitud">
          </div>
          <div class="form-group">
            <input type="number" step="0.000001" class="form-control" name="longitud" placeholder="Longitud">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="fecha" placeholder="Fecha">
          </div>
          <button class="btn btn-primary btn-block" type="submit">Guardar árbol</button>
        </form>
      </div>
    </div>
  </div>
</div>


